<div class='formulaire_spip formulaire_configurer formulaire_configurer_forums_contenu' id='formulaire_configurer_forums_contenu'>
<h3 class='titrem'><:simplpaie:simplpaie:></h3>

[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

<form action="#SELF" method="post">
	#ACTION_FORMULAIRE{#ENV{action}}
	[<p class='formulaire_ok'>(#ENV*{message_ok})</p>]
	[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]




	<fieldset>
		<legend><:simplpaie:acces_donnees_spip:></legend>

		<ul>
			[(#SAISIE{oui_non,acces_donnees_spip,label=<:simplpaie:acces_donnees_spip_ouinon:>})]


		</ul>

	</fieldset>



		<p class="boutons"><input type="submit" class="submit" name="_cfg_ok" value="<:simplmailsub:enregistrer:>" /></p>
</form>
	
</div>
