<div class="formulaire_spip formulaire_editer formulaire_simplasso  formulaire_simplasso_don">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

    <form method='post' action="#ENV{action}" class="form-inline">
        #ACTION_FORMULAIRE{#ENV{action}}

        [<input type='hidden' name='redirect' value='(#ENV**{redirect})'/>]

        [(#GENERER_SAISIES{#ENV{_mes_saisies}})]

        <script type="application/javascript">
            initialiser_formulaire_don();
        </script>


        <div class="nettoyeur"></div>

        <input type="submit" class="submit btn--primary" value="<:bouton_valider:>"/>


    </form>


</div>
<script type="text/javascript">
    function inscription_change_civilite(valeur){
        valeur = '|'+valeur+'|';
        civilite_organisme = '|'+'[(#ENV{civilite_organisme})]'+'|';
        if ( civilite_organisme.indexOf(valeur)>-1){
            $('#champ_organisme').parent().slideDown();

        }
        else{
            $('#champ_organisme').parent().hide();
        }
    }

    $(document).ready(function(){
        $('input[name=civilite]').change(function(){
            inscription_change_civilite($(this).val());
        });

        if ($('input[name=civilite]:checked').length === 0){
            $('input[name=civilite]:first').prop("checked", true).trigger('change');
        }


    })
</script>