<div class="formulaire_spip formulaire_editer formulaire_simplasso  formulaire_simplasso_don">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

    <form method='post' action="#ENV{action}" class="form-inline">
        #ACTION_FORMULAIRE{#ENV{action}}

        [<input type='hidden' name='redirect' value='(#ENV**{redirect})'/>]


        <ul>
        [(#GENERER_SAISIES{#ENV{_mes_saisies}})]
        </ul>
        <script type="application/javascript">
            initialiser_formulaire_don();
        </script>



        <div class="nettoyeur"></div>

        <input type="submit" class="submit" value="<:bouton_valider:>"/>


    </form>


</div>
