<div class="formulaire_spip formulaire_editer formulaire_editer_auteur  formulaire_inscription_adherent">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

    <form method='post' action='#ENV{action}' enctype='multipart/form-data'>
        <div>
            #ACTION_FORMULAIRE{#ENV{action}}
            [<p class="">(#ENV**{_message})</p>]

                [(#GENERER_SAISIES{#ENV{_mes_saisies}})]

            <!--extra-->
            <p class='boutons'><input type='submit' class="submit btn--primary" value='<:bouton_Valider:>'/></p>
        </div>
    </form>


</div>
