<div class="formulaire_spip formulaire_editer formulaire_simplasso formulaire_inscription_adherent">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

    <form method='post' action="#ENV{action}">
        <div>
            #ACTION_FORMULAIRE{#ENV{action}}
            <input type='hidden' name='id_auteur' value='#ENV{id_auteur}'/>
            [<input type='hidden' name='redirect' value='(#ENV**{redirect})'/>]

            [(#GENERER_SAISIES{#ENV{_mes_saisies}})]


            <script type="application/javascript">
                initialiser_formulaire_don();
                $(".editer_don_oui_non input[name=don_oui_non]").change(function(){
                        if($(this).val()==='oui'){
                            $(".editer_montant_don").slideDown();
                        }else{
                            $(".editer_montant_don").hide();
                        }
                    }
                ).trigger('change');
            </script>

            <!--extra-->
            <p class='boutons'><input type='submit' class="submit btn--primary" value='<:simplasso:bouton_etape_suivante:>'/></p>
        </div>
    </form>


</div>
