<div class="formulaire_spip formulaire_editer formulaire_editer_auteur  formulaire_simplasso formulaire_inscription_adherent">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    <form method='post' action='#ENV{action}' enctype='multipart/form-data'>
        <div>
            #ACTION_FORMULAIRE{#ENV{action}}
            <input type='hidden' name='id_auteur' value='#ENV{id_auteur}'/>
            [<input type='hidden' name='redirect' value='(#ENV**{redirect})'/>]
            [(#GENERER_SAISIES{#ENV{_mes_saisies}})]
            <!--extra-->
            <p class='boutons'><input type="submit" class="submit btn--primary" value='<:simplasso:bouton_etape_suivante:>'/></p>
            [<p class="info_cplt">(#ENV**{_info_cplt})</p>]
        </div>
    </form>
</div>
<script type="text/javascript">
    function inscription_change_civilite(valeur){
        valeur = '|'+valeur+'|';
        civilite_organisme = '|'+'[(#ENV{civilite_organisme})]'+'|';
        if ( civilite_organisme.indexOf(valeur)>-1){
            $('#champ_organisme').parent().slideDown();

        }
        else{
            $('#champ_organisme').parent().hide();
        }
    }

    $(document).ready(function(){
        $('input[name=civilite]').change(function(){
            inscription_change_civilite($(this).val());
        });

        if ($('input[name=civilite]:checked').length === 0){
            $('input[name=civilite]:first').prop("checked", true).trigger('change');
        }


    })
</script>