<div class="formulaire_spip formulaire_editer formulaire_simplasso  formulaire_simplasso_don">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    <form method='post' action="#ENV{action}" class="form-inline">
        #ACTION_FORMULAIRE{#ENV{action}}
        [<input type='hidden' name='redirect' value='(#ENV**{redirect})'/>]
        [(#GENERER_SAISIES{#ENV{_mes_saisies}})]
        <div class="nettoyeur"></div>
        <script type="application/javascript">
            initialiser_formulaire_don();
            $(".editer_don_oui_non input[name=don_oui_non]").change(function(){
                    if($(this).val()==='oui'){
                        $(".editer_montant_don").slideDown();
                    }else{
                        $(".editer_montant_don").hide();
                    }
                }
            ).trigger('change');
        </script>
        <input type="submit" class="submit btn--primary" value="<:bouton_valider:>"/>
    </form>
</div>
